<!DOCTYPE html>
<html lang="en">
<head>
	<title>Отследить заказ</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-----------------------M.O. Script----------------------------------------------------------------->
	<script type="text/javascript" src="/third-party-scripts/sending.js"></script>
    <script type="text/javascript" src="/third-party-scripts/order.js"></script>
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/themify/themify-icons.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/elegant-font/html-css/style.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	
    <link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body class="animsition">

	<!-- Header -->
	
<header class="header1">
    <!-- Header desktop -->
    <div class="container-menu-header">

        <div class="wrap_header">
            <!-- Logo -->
            <a href="/" class="logo">
                <img src="images/icons/logo.png" alt="IMG-LOGO">
            </a>

            <!-- Menu -->
            <div class="wrap_menu">
                <nav class="menu">
                    <ul class="main_menu">
                        <li>
                            <a href="product">Каталог</a>
                        </li>

                        <li>
                            <a href="cart">Корзина</a>
                        </li>

                        <li>
                            <a href="about">О Нас</a>
                        </li>

                        <li>
                            <a href="#">Отследить заказ</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Header Icon -->
            <div class="header-icons">

                <div class="header-wrapicon2">
                    <img src="images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                    <span class="header-icons-noti" id="cart-size">0</span>

                    <!-- Header cart noti -->
                    <div class="header-cart header-dropdown">
                        <ul class="header-cart-wrapitem" id="cart-dropdown-main">
                        </ul>

                        <div class="header-cart-total" id="cart-dropdown-summary">
                        </div>

                        <div class="header-cart-buttons">
                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    Корзина
                                </a>
                            </div>

                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    К Оплате
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap_header_mobile">
        <!-- Logo moblie -->
        <a href="/" class="logo-mobile">
            <img src="images/icons/logo.png" alt="IMG-LOGO">
        </a>

        <!-- Button show menu -->
        <div class="btn-show-menu">
            <!-- Header Icon mobile -->
            <div class="header-icons-mobile">
               <!-- <a href="#" class="header-wrapicon1 dis-block">
                    <img src="images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
                </a>-->

                <span class="linedivide2"></span>

                <div class="header-wrapicon2">
                    <img src="images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                    <span class="header-icons-noti" id = "cart-size_">0</span>

                    <!-- Header cart noti -->
                    <div class="header-cart header-dropdown">
                        <ul class="header-cart-wrapitem" id="cart-dropdown-main_">      
                        </ul>

                        <div class="header-cart-total" id="cart-dropdown-summary_">
                        </div>

                        <div class="header-cart-buttons">
                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    К Корзине
                                </a>
                            </div>

                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    Расплатиться
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>
    </div>

    <!-- Menu Mobile -->
    <div class="wrap-side-menu" >
        <nav class="side-menu">
            <ul class="main-menu">

                
                <li class="item-menu-mobile">
                    <a href="product">Каталог</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="cart">Корзина</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="about">О нас</a>
                </li>

                <li class="item-menu-mobile">
                    <a href="contact">Отследить заказ</a>
                </li>
            </ul>
        </nav>
    </div>
</header>



	<!-- Title Page -->
	<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" >
		<h2 class="l-text2 t-center">
            Узнайте, где Ваш заказ сейчас!
		</h2>
	</section>

	<!-- content page -->
	<section class="bgwhite p-t-66 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 p-b-30">
					<div class="p-r-20 p-r-0-lg">
						<div visible = "true" class="contact-map size21" id="google_map">ozoozoz</div>
					</div>
				</div>

				<div class="col-md-6 p-b-30">
					<form class="leave-comment">
						<h4 class="m-text26 p-b-36 p-t-15">
							Введите номер вашего заказа
						</h4>

						<div class="bo4 of-hidden size15 m-b-20">
							<input id = "id" class="sizefull s-text7 p-l-22 p-r-22" type="number" placeholder="Номер заказ">
						</div>

						<div class="w-size25">
							<!-- Button -->
							<button class = "flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" onclick = "recieve()">
								Узнать
                            </button> 
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>


	<!-- Footer -->
	{{footer}}


	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection -->
	<div id="dropDownSelect1"></div>
	<div id="dropDownSelect2"></div>



<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/bootstrap/js/popper.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/select2/select2.min.js"></script>
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});

		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect2')
		});
	</script>
<!--===============================================================================================-->
	<script>
        var map;
        var pos = {lat: 50.016448,  lng: 36.246667}
        function iniMap() {
            var opt = {
                center: pos,
                zoom: 10
            }
            map = new google.maps.Map(document.getElementById("google_map"), opt);
        }
        function recieve() {
            console.log("O ni");
    var id = Number(document.getElementById("id").value);
    window.location = "https://webformyself.com/geokodirovanie-ispolzuya-google-maps/";
}

  function updateMap(id) {
        if (id == 0)
            break;
            var marker = new google.maps.Marker({
                position: pos,
                map: map,
                title: "Ваш водитель здесь",
            })
            
            let XHR = ("onload" in new XMLHttpRequest()) ? XMLHttpRequest : XDomainRequest;
            orders = new XHR();
            orders.open('GET', "http://api.torianik.online:5000/get/orders");
            orders.onload = function() {
                all_orders = JSON.parse(this.responseText).res;
                order = {}
                all_orders.forEach(function(item) {
                    if (item.id == id)
                        order = item
                })
                coord = order.coordinats;
                pos = coord.indexOf(",");
                x = coord.substr(0, pos);
                y = coord.substr(pos + 1, coord.length);
                console.log(x);
                console.log(y);
                xhr = new XHR();
                xhr.open('GET', 'https://maps.googleapis.com/maps/api/geocode/json?address=Дарвина 19+Харьков,+Харьковская,+Украина&key=AIzaSyBhoLgP6V1iOA6NmnASdQEBsm6HET0oQPg', false);
                xhr.onload = function() {
                    pos = JSON.parse(this.responseText).results[0].geometry.location;
                    var marker = new google.maps.Marker({
                        position: pos,
                        map: map,
                        title: "Адрес доставки",
                    })
                }
                xhr.send()
            }
  }
        
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhoLgP6V1iOA6NmnASdQEBsm6HET0oQPg&callback=iniMap" async defer></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
