<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script>
		var API_URL = "{{ api_url }}"; 
	</script>
	<script src="third-party-scripts/track.js"></script>
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/themify/themify-icons.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/elegant-font/html-css/style.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body class="animsition">

	{{ header }}

	<!-- content page -->
	<section class="bgwhite p-t-10 p-b-10">
		<div class="container">
			
				<div class="col-md-12 bo9">
						<h4 class="m-text26 p-b-15 p-t-15">
							Информация о заказе: 
						</h4>

					<div class="p-r-20 p-r-0-lg">
						<div class="contact-map size21" data-draggable="1" data-scrollwhell="0" id="googleMap"></div>
						<!--
							<div id="google_map" data-map-x="40.614439" data-map-y="-73.926781" data-pin="images/icons/icon-position-map.png" data-scrollwhell="0" data-draggable="1"></div>
						-->
					</div>
						
					<h4 class="m-text10 p-b-20 p-t-15" id="delivering_time" style="position: absolute; visibility: hidden;">
						Ореинтировочное время доставки: Неопределенно
					</h4>

					<h4 class="m-text10 p-b-20 p-t-15" id="status">
						Статус закза: Неопределенно
					</h4>
				</div>

				<div class="col-md-6 p-b-10" >
					<form class="leave-comment">
						<h4 class="m-text26 p-b-15 p-t-15">
							Отследить заказ
						</h4>
				
						<div class="bo4 of-hidden size15 m-b-20">
							<input id="token" class="sizefull s-text7 p-l-22 p-r-22 m-b-20" type="text" name="token" placeholder="Токен">
						</div>
			
						<div class="w-size25 p-b-70">
							<!-- Button -->
							<input type="button" id="track" class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4" value="Отследить">
						</div>
					</form>
				</div>
			

			
		</div>
	</section>

	{{ footer }}

	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection -->
	<div id="dropDownSelect1"></div>
	<div id="dropDownSelect2"></div>



<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/bootstrap/js/popper.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/select2/select2.min.js"></script>
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});

		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect2')
		});
	</script>
<!--===============================================================================================-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhoLgP6V1iOA6NmnASdQEBsm6HET0oQPg&callback=loadMap"></script>
	<script src="js/map-custom.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
