<script type="text/javascript" src="third-party-scripts/header_cart.js"></script>

<!-- Header -->
<header class="header1">
        <!-- Header desktop -->
        <div class="container-menu-header">
    
            <div class="wrap_header">
                <!-- Logo -->
                <a href="/" class="logo">
                    <img src="images/icons/logo.png" alt="IMG-LOGO">
                </a>
    
                <!-- Menu -->
                <div class="wrap_menu">
                    <nav class="menu">
                        <ul class="main_menu">
                            <li>
                                <a href="product">Каталог</a>
                            </li>
    
                            <li>
                                <a href="cart">Корзина</a>
                            </li>
    
                            <li>
                                <a href="about">О Нас</a>
                            </li>
    
                            <li>
                                <a href="contact">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>
    
                <!-- Header Icon -->
                <div class="header-icons">
                    
                    <div class="header-wrapicon2">
                        <img src="images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                        <span class="header-icons-noti" id="cart-size">0</span>
    
                        <!-- Header cart noti -->
                        <div class="header-cart header-dropdown">
                            <ul class="header-cart-wrapitem" id="cart-dropdown-main">
                            </ul>
    
                            <div class="header-cart-total" id="cart-dropdown-summary">
                            </div>
    
                            <div class="header-cart-buttons">
                                <div class="header-cart-wrapbtn">
                                    <!-- Button -->
                                    <a href="cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                        Корзина
                                    </a>
                                </div>
    
                                <div class="header-cart-wrapbtn">
                                    <!-- Button -->
                                    <a href="cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                        К Оплате
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Header Mobile -->
        <div class="wrap_header_mobile">
            <!-- Logo moblie -->
            <a href="/" class="logo-mobile">
                <img src="images/icons/logo.png" alt="IMG-LOGO">
            </a>
    
            <!-- Button show menu -->
            <div class="btn-show-menu">
                <!-- Header Icon mobile -->
                <div class="header-icons-mobile">
                    <a href="#" class="header-wrapicon1 dis-block">
                        <img src="images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
                    </a>
    
                    <span class="linedivide2"></span>
                </div>
    
                <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </div>
            </div>
        </div>
    
        <!-- Menu Mobile -->
        
        <div class="wrap-side-menu" >
            <nav class="side-menu">
                <ul class="main-menu">
    
                    
                    <li class="item-menu-mobile">
                        <a href="product">Каталог</a>
                    </li>
    
                    <li class="item-menu-mobile">
                        <a href="cart">Корзина</a>
                    </li>
    
                    <li class="item-menu-mobile">
                        <a href="about">О нас</a>
                    </li>
    
                    <li class="item-menu-mobile">
                        <a href="contact">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    